{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="d-flex justify-content-center">
        <div class="jumbotron rounded mt-3">
            <div class="mb-3 mx-3 my-3">
                <h1 class="display-4">Phoenix' Abode</h1>
                <p class="lead">Where the extraordinary is commonplace.</p>
                <hr class="my-4">
                <p>Login or register to see our content.</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
                    <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
                </p>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-3">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                Featured
            </div>
            <ul class="list-group list-group-flush">
                {% for novel in novels %}
                    <li class="list-group-item text-white bg-dark text-capitalize">{{novel.title}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}