{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
    {% if check is defined %}
        <table class="table table-dark mt-3 crd">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Chapter Count</th>
                    <th scope="col">Author</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for novel in novels %}
                    <tr>
                        <td>{{novel.id}}</td>
                        <td><a href="/read/{{novel.title}}" class="text-capitalize">{{novel.title}}</a></td>
                        <td>{{novel.chapter_count}}</td>
                        <td class="text-capitalize">{{novel.name}}</td>
                        <td class="text-capitalize">{{novel.status}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="crd">
            <div class="mx-3">
                {{message}}
            </div>
        </div>
    {% endif %}

{% endblock %}